*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
    background: none;
}

svg {
    display: flex;
    flex-shrink: 0;
    height: auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
label,
input,
ul,
ol,
li,
a,
div,
button,
address {
    font-size: inherit;
    font-weight: inherit;
    font-family: $body-font;
    font-style: normal;
    color: $black;
    line-height: normal;
    font-weight: 400;
}

input {
    -webkit-appearance: none;
}

img {
    vertical-align: top;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    @media (max-width: $breakpoint1) {
        max-width: 880px;
    }
    @media (max-width: $breakpoint2) {
        max-width: 622px;
    }
}
