$body-font: "Inter", sans-serif;
$white: #ffffff;
$black: #000000;
$black-muted: #3a3737;
$grey: #f3f3f3;
$light-grey: #f6f6f6;
$dark-grey: #d9d8d8;

$breakpoint1: 1024px;
$breakpoint2: 768px;
$breakpoint3: 390px;
